body {
  text-align: center;
  background-image: url("image/background.png");
  font-family: Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 500px;
  padding: 20px;
  background-color: rgb(252, 239, 223);
  border-radius: 10px;
  box-shadow: 0 0 10px black;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 90px);
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.card {
  width: 90px;
  height: 90px;
  border-radius: 5px;
  position: relative;
  transform-style: preserve-3d;
  transition: 0.5s;
  cursor: pointer;
}

.card.flip {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 5px;
}

.card img {
  width: inherit;
  border-radius: inherit;
}

.front {
  background-color: #e4dede;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  transform: rotateY(180deg);
}

.moves {
  margin: 20px 0 10px;
}

button {
  padding: 10px 15px;
  border: none;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 5px black;
}

@media (max-width: 600px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 570px) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }

  .cards {
    grid-template-columns: repeat(4, 1fr);
  }

  .card {
    width: inherit;
  }

  .card img {
    height: inherit;
  }
}