body {
  text-align: center;
  background: linear-gradient(130deg, #12bfde, #7fff24);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 500px;
  color: #000b58;
  padding: 20px 30px;
}

.message {
  margin: 20px auto;
  position: relative;
  width: 300px;
  color: #000b58;
  padding: 20px 30px;
  border-radius: 15px;
  background-color: rgba(240, 248, 255, 0.6);
  box-shadow: 0 0 5px rgba(102, 135, 243, 0.8);
}

.message::after {
  content: "";
  position: absolute;
  border: 5px solid rgba(240, 248, 255, 0.6);
  top: -8px;
  left: -8px;
  bottom: -8px;
  right: -8px;
  border-radius: 22px;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

p {
  font-size: 1.2em;
  margin: 10px 0;
}

input {
  padding: 17px 15px;
  font-size: 1em;
  border: none;
  border-radius: 25px;
  width: 300px;
  margin-right: -45px;
  outline: none;
  filter: drop-shadow(2px 4px 2px #706f6f);
}

#submit {
  background: linear-gradient(100deg, #eea318, #ff2445);
  color: white;
  border: none;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 18px;
  filter: drop-shadow(2px 4px 2px #706f6f);
}

.restartBtn {
  background-color: #219995;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 4px #39ebe5;
}

.attempts {
  margin: 20px auto 25px;
}

.alert {
  color: red;
  display: none;
  font-weight: bold;
  margin-top: 10px;
}

.feedback {
  color: purple;
  font-weight: bold;
}

@media (max-width: 346px) {
  #submit {
    width: 65px;
    height: 65px;
    font-size: 0.9em;
  }
}

@media (max-width: 600px) {
  .box,
  .message,
  input {
    width: 70%;
  }
}
