* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: #8a2be2; */
}

.container {
  background: linear-gradient(125deg, #7e008a, #db0260);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.box:first-child {
  width: 300px;
  font-size: 18px;
  color: white;
}

.box :nth-child(2) {
  background-color: rgb(255, 0, 0);
  color: rgb(255, 246, 246);
  border: none;
  width: 100px;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
  font-size: 16px;
  cursor: pointer;
}

.popup {
  position: absolute;
  top: 0;
  padding: 50px;
  transform: translate(0, -45%) scale(0.1);
  border-radius: 10px;
  width: 200px;
  background-color: white;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open-popup {
  transform: translate(0, -45%) scale(1);
  top: 40%;
  visibility: visible;
}

.popup p {
  margin: 20px 0 35px;
}

.popup button {
  background-color: #7e008a;
  color: white;
  border: none;
  width: 100px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
